<div class="points-applier">
  <div
    v-for="({ name, ratio }, programId) in localPointsPrograms"
    class="custom-control custom-switch"
  >
    <div
      v-for="discount in discountOptions"
      :key="`${discount}`"
      v-if="getPointsAmount(programId) >= discount"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        :id="`points-applier-${programId}-${discount}`"
        :checked="pointsApplied[programId] === (discount / ratio)"
        @change="ev => togglePoints(programId, ev.target.checked, discount)"
      >
      <label
        class="custom-control-label"
        :for="`points-applier-${programId}-${discount}`"
      >
        <span class="badge badge-info">
          <i class="i-tag mr-1"></i>
          -{{ formatMoney(discount) }}
        </span>
        <small>
          resgatar por
          {{ (discount / ratio) }}
          <em>{{ name !== 'Pontos' ? name : 'Bazicash' }}</em>
        </small>
      </label>
    </div>
  </div>
</div>
