<%
const isBazicash = /pages\/.*bazicash.*/.test(_.pageName)
%>

<div class="dynamic-showcase">
  <%- await include('@/sections/inc/retail-grid', {
    _, opt: {
      sort: opt.sort,
      disable_filters: !isBazicash,
      disable_load_more: !isBazicash && !opt.load_more,
      bazicash: isBazicash
    }
  }) %>
</div>
