<div class="responsive-baner my-3 my-lg-4">
  <div class="container<%- opt.full_banner_responsive ? ' full-banner-responsive' : '' %>">
    <%- await include('@/sections/inc/banner', { _, opt }) %>
  </div>
</div>
