<% 
const apx_category = _.cms('apx_category') || {}
%>
<article id="content" class="page page--<%= _.pageName %>" data-container="<%= JSON.stringify(apx_category) %>">
  <div class="sections pb-1 pb-sm-2 pb-lg-4">
    <%
    let categories = false
    try{
      categories = _.state.categories
    }catch(e){
      console.log(e)
    }
    // load page sections and render each one
    const { sections } = _.state
    if (Array.isArray(sections)) {
      
      //const breadcrumbs = opt.breadcrumbs && opt.breadcrumbs.length
      //? opt.breadcrumbs
      //: _.breadcrumbs || (_.state.title && [{
//        name: _.state.title,
        //link: _.route.path
      //}])

      //console.log(categories)
      let sessionsWithSlug = []
      for(i in categories){
        //console.log(categories[i].name)
        let sectionsPerCategory = sections.find(el => el.slug == categories[i].name)
        
        if(sectionsPerCategory){
          sessionsWithSlug = [...sessionsWithSlug, sectionsPerCategory]  
        }
      }
      //let sectionsPerCategory = sections.find(el => !el.hasOwnProperty('slug'))

      //console.log('sessionsWithSlug',sessionsWithSlug)

      let sectionsFinal = [...sections.filter(el => ((el.type != "apx_blockPerCategory") &&
        (el.type != "apx_testimonials" || _.pageName === 'home')))]
      
      if(sessionsWithSlug){
        sectionsFinal = [...sectionsFinal,...sessionsWithSlug]
      }
      for (let i = 0; i < sectionsFinal.length; i++) {
        const opt = sectionsFinal[i]
        if (opt && opt.enabled !== false) {
          %>          
          <%- await include(`@/sections/${opt.type}`, { _, opt , categories}) %>
          <%
        }
      }
    }
    %>
  </div>
  <%
  if (_.pageName !== 'home') {
    const testimonial = sections.find(el => el.type == "apx_testimonials")
    if (testimonial) {
    %>
      <%- await include(`@/sections/apx_testimonials`, { _, opt: testimonial }) %>
    <%
    }
  }
  %>
</article>

