<div
  v-if="validPointsEntries.length || purchases.length"
  class="account-points"
>
  <div class="account-points__info">
    <a id="resgate" href="/pages/produtos-bazicash"> <img class="ecom__swing" src="/img/uploads/bazicash-icon.png"> Resgatar Bazicash </a>
    <span>{{ i19available }}: <b>{{ totalPoints.toFixed(1) }} Bazicash</b></span>
  </div>

  <ul class="list-group">
  
    <li
      v-for="pointsEntry in historyEntryPoints"
      class="list-group-item account-points__entry"
      v-if="pointsEntry.earned_points > 0"
    >
      <div class="account-points__entry-title">
        <h5 class="mb-1" v-if="pointsEntry.earned_points === 5000 && pointsEntry.points === 'entrando'">
          BaziPass
        </h5>
        <template v-else>
          <h5 class="mb-1">
            {{pointsEntry.name || 'Compra'}}
          </h5>
        </template>
        <small v-if="pointsEntry.valid_thru">
          {{ i19upTo }}
          {{ formatDate(pointsEntry.valid_thru) }}
        </small>
      </div>

      <div class="bazipass-info">
        <b style="padding: 7px; background-color: black; color: #fff; margin-top: 5px; margin-bottom: 5px">{{ pointsEntry.points === 'saindo' ? `- ${(pointsEntry.used_points).toFixed(2)}` : `+ ${(pointsEntry.earned_points).toFixed(2)}` }} Bazicashs</b>
        <b :style="`padding: 7px; background-color: ${pointsEntry.vencido ? 'var(--danger);' : pointsEntry.points === 'entrando' ? 'var(--success);' : 'var(--info);'} color: #fff; margin-top: 5px; margin-bottom: 5px`"> {{ pointsEntry.vencido ? 'Vencido' : pointsEntry.points === 'entrando' ? 'Crédito' : 'Débito' }}  </b>
      </div>
    </li>
  </ul>
</div>
