<section class="bz_gallery">
  <div
    v-for="(picture, i) in localPictures"
    class="bz_gallery-item"
    :key="'item-' + i"
  >
    
      <slot v-if="i === 0 && !isSliderMoved">
        <a-picture
          v-if="!elFirstPicture"
          class="gallery__big-image"
          :src="getImg(picture, null, 'big')"
        />
        <div
          v-else
          ref="firstPicture"
          class="gallery__big-image"
        ></div>
      </slot>

      <a-picture
        v-else
        class="gallery__big-image"
        :src="getImg(picture, null, 'big')"
      />
    
  </div>
</section>
 