<section
  class="product"
  :data-product-id="body._id"
  :data-sku="body.sku"
>
  <a-alert
    :can-show="hasLoadError"
    variant="danger"
  >
    {{ i19loadProductErrorMsg }}
    <a
      href="#"
      class="alert-link"
      @click.prevent="fetchProduct"
    >
      {{ i19retry }}
    </a>
  </a-alert>

  <transition enter-active-class="animated fadeIn slower">
    <div
      v-if="body._id"
      class="row"
    >
      <slot name="gallery-col">
        <div class="col-12 col-md-6">
          <component
            :is="isSSR ? 'portal' : 'div'"
            selector="#product-gallery"
          >
            <product-gallery
              :product="body"
              :current-slide.sync="currentGalleyImg"
              :is-s-s-r="isSSR"
            >
              <slot name="first-picture"/>
            </product-gallery>
            <slot name="gallery-footer"/>
          </component>
        </div>
      </slot>

      <div class="col">
        <slot
          v-if="!isSSR"
          name="heading"
        >
          <component
            :is="headingTag"
            class="product__name"
          >
            {{ name }}
          </component>
          <p class="product__sku">
            COD: {{ body.sku }}
          </p>
        </slot>

        <slot
          v-if="!isSSR && body.short_description"
          name="short-description"
        >
          <p class="product__info lead">
            {{ body.short_description }}
          </p>
        </slot>

        <component
          :is="isSSR ? 'portal' : 'div'"
          selector="#product-actions"
        >
          <slot name="rating">
            <div
              v-once
              class="product__rating"
              :data-sku="body.sku"
            ></div>
          </slot>

          <slot
            name="unavailable"
            v-if="!body.available"
          >
            <!-- <p class="product__unavailable">
              {{ i19unavailable }}
            </p> -->
            <div class="avise_me apx_form">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex align-items-center justify-content-center" style="justify-content: center;"><strong>Ops!</strong>
                  <p class="pl-3">Este produto encontra-se indisponível.<br>Deixe seus dados que avisaremos quando chegar.</p>
                </div>
                </div>
              </div>
              <div class="row px-2 mt-3">
                <div class="col-12 col-md-4 my-2 px-1">
                  <label for="">Nome</label>
                  <input type="text" name="nome" required="">
                </div>
                <div class="col-12 col-md-4 my-2 px-1">
                  <label for="">E-mail</label>
                  <input type="email" name="email" required="">
                </div>
                <div class="col-12 col-md-4 my-2  px-1">
                  <label for="">WhatsApp</label>
                  <input type="tel" name="telefone" required="">
                </div>
                <div class="col-12 col-md-6 my-2 d-none">
                  <label for="">Produto</label>
                  <input type="hidden" :value="name" name="product">
                </div>                
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="button">Avise-me quando disponível</button>
                </div>
              </div>
            </div>
          </slot>

          <slot
            name="out-of-stock"
            v-else-if="!isInStock"
          >
            <p class="product__out-of-stock">
              {{ i19outOfStock }} 
            </p>
          </slot>

          <template v-else>
            <slot name="prices">
              <p class="product__prices">
                <a-prices
                  :product="{ ...body, ...selectedVariation, ...finalPrices }"
                  :is-literal="true"
                  :is-big="true"
                  @fix-price="price => fixedPrice = price"
                />

                <slot
                  name="discount-tag"
                  v-bind="{ discount }"
                >
                  <span
                    v-if="discount > 0"
                    class="product__discount"
                  >
                    {{ i19discountOf }}
                    <strong>{{ discount }}%</strong>
                  </span>
                </slot>
              </p>
            </slot> 

            
            <slot
              name="variations"
              v-if="hasVariations"
            >
              <product-variations
                :product="body"
                :selected-id.sync="selectedVariationId"
                @select-option="handleGridOption"
                :maxOptionsBtns="99"
              />
              <a-alert :can-show="hasClickedBuy && !selectedVariationId">
                {{ i19selectVariationMsg }}
              </a-alert>

              <slot name="variations-info"/>
            </slot>

            
            

            <slot
              name="customizations"
              v-if="body.customizations"
            >
              <div
                v-for="custom in body.customizations"
                v-if="custom.custom_value"
                :key="custom._id"
                class="product__customization form-group"
                :class="custom.grid_id ? `product__customization--${custom.grid_id}` : null"
              >
                <label :for="`c-${custom._id}`">
                  {{ custom.label }}
                  <span
                    v-if="custom.add_to_price"
                    class="badge badge-secondary"
                  >
                    {{ formatAdditionalPrice(custom.add_to_price) }}
                  </span>
                </label>

                <input
                  type="text"
                  class="form-control"
                  :id="`c-${custom._id}`"
                  @keyup="ev => setCustomizationOption(custom, ev.target.value)"
                >
              </div>
            </slot>

            
            <div
              v-if="isKit"
              class="product__kit"
            >
            <label class="kit__title">Selecione os itens do kit</label>
              <slot
                name="kit"
                v-bind="{ kitItems }"
              >                
                <quantity-selector
                  v-if="kitItems.length"
                  :items="kitItems"
                  :min="body.min_quantity"
                  :max="body.quantity"
                  :slug="body.slug"
                  :kit-product-id="body._id"
                  :kit-name="name"
                  :kit-price="fixedPrice"
                >
                  <template #buy-button-content>
                    <slot name="buy-button-content"/>
                  </template>
                </quantity-selector>
                

                <span
                  v-if="!kitItems.length"
                  class="product__kit-loading spinner-border"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </span>
              </slot>
            </div>
            <template v-else>
              <div class="product__buy">
                <div class="apx_quantity_selector">
                  <button type="button"
                  @click="ev => changeQntUn(body, -1,ev)"
                  ><i class="fas fa-chevron-down"></i></button>
                  
                  <input type="tel" 
                    :min="body.min_quantity"
                    :max="body.quantity"
                    :value="body.min_quantity ? body.min_quantity : 1"
                    :disabled="!isInStock"
                    :readonly="body.min_quantity === body.max_quantity"

                    @change="ev => changeQntUn(body, null, ev)"
                    @keyup.up="changeQntUn(body, 1,this)"
                    @keyup.down="changeQntUn(body, -1, this)"

                    name="form-control apx_quantity-selector__input"/>
                  
                  <button type="button"
                  @click="ev => changeQntUn(body, 1,ev)"
                  ><i class="fas fa-chevron-up"></i></button>
                </div>
                <span @click="buy" class="w-100">
                  <slot
                    name="buy"
                    v-bind="{ hasClickedBuy, isOnCart }"
                  >
                    <button
                      type="button"
                      class="btn btn-lg btn-primary"
                      :disabled="hasClickedBuy && !isOnCart"
                    >
                      <slot name="buy-button-content">
                        <i class="fas fa-shopping-bag mr-1"></i>
                        {{ strBuy }}
                      </slot>
                    </button>
                  </slot>
                </span>
              </div>
              <p
                class="product__short-stock"
                v-if="isLowQuantity && 1 != 1"
              >
                <i class="fas fa-forward mr-1"></i>
                {{ i19only }}
                <strong>{{ productQuantity }}</strong>
                {{ i19unitsInStock }}
              </p>
            </template>

            <transition enter-active-class="animated fadeInUp" v-if="1 != 1">
              <slot
                name="payment-gateways"
                v-bind="{ paymentOptions }"
                v-if="!isQuickview && paymentOptions.length"
              >
                <article :key="`payment-${fixedPrice}`">
                  <div
                    v-once
                    class="product__payment card mb-3"
                  >
                    <a
                      id="product-payment-header"
                      class="card-header"
                      role="button"
                      href="#product-payment"
                      data-toggle="collapse"
                      aria-expanded="false"
                      aria-controls="product-payment"
                    >
                      <span>{{ i19paymentOptions }}</span>
                      <i class="fas fa-chevron-down"></i>
                    </a>

                    <div
                      id="product-payment"
                      class="collapse"
                      aria-labelledby="product-payment-header"
                    >
                      <div class="card-body pb-0">
                        <div
                          v-for="paymentOption in paymentOptions"
                          :key="paymentOption.app_id"
                          :id="`product-payment-${paymentOption.app_id}`"
                          class="mb-3"
                        >
                          <payment-option
                            v-for="(gateway, i) in paymentOption.payment_gateways"
                            :key="`${paymentOption.app_id}-${i}`"
                            :payment-gateway="gateway"
                            :installments-option="paymentOption.installments_option"
                            :price="fixedPrice"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </slot>
            </transition>

            <p
              v-if="body.production_time && body.production_time.days"
              class="product__production"
            >
              <i class="fas fa-info-circle mr-1"></i>
              {{ i19productionDeadline }}:
              <strong>
                {{ body.production_time.days }}
                {{ body.production_time.working_days ? i19workingDays : i19days }}
                <template v-if="body.production_time.cumulative">
                  {{ i19perUnit }}
                </template>
              </strong>
            </p>

            <slot
              v-if="!isQuickview"
              name="shipping"
            >
              <shipping-calculator
                :shippedItems="[{
                  ...body,
                  product_id: body._id,
                  quantity: body.min_quantity || 1
                }]"
              >
                <template v-slot:free-from-value="{ amountSubtotal, freeFromValue }">
                  <div class="product__free-shipping-from">
                    {{ i19freeShippingFrom }}
                    <strong>
                      {{ Math.ceil(freeFromValue / amountSubtotal) }}
                      {{ i19units }}
                    </strong>
                  </div>
                </template>
              </shipping-calculator>
            </slot>

            <slot name="track-price">
              <div
                v-once
                class="product__track-price"
                :data-sku="body.sku"
              ></div>
            </slot>

           
          </template>
        </component>

        
      </div>
    </div>
  </transition>

  <slot v-if="!body._id"/>
</section>