// Add your custom CSS here.
:root{
    --menu_lv1: 13px;
    --menu_lv2: 12px;
    --bn_btn-text: 16px;
    // --bn_title: 35px;
    --bn_title: 28px;
    --bn_description: 16px;
    // --section_title:39px;
    --section_title:32px;
    --section_subtitle:16px;
    --body:16px;
    --banner_spacer: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
body,
a,
span,
button,
div,
p,
small{
    font-family:'Montserrat', sans-serif;
}
body{font-size:var(--body);color:#000}
#header{padding:0;border:0;background:#fff; box-shadow:unset;}
#bz-menu{}
#bz-menu .level_1{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    
}
#bz-menu .level_1 > li{
    margin: 0 -19px;
    padding: 19px;
    button{
        border: 0;
        background: transparent;
        padding: 0;
    }
    .level_2{
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        left: -1px;
        min-width: 300px;
        padding: 3rem;
        position: absolute;
        top: 100%;
        opacity: 0;
        margin-top: 2rem;
        transition: all .2s;
        pointer-events: none;
        display: flex;
        gap: 3rem;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li{
                a{
                    font-size:var(--menu_lv2);
                    text-transform: uppercase;
                    letter-spacing:1px;
                    white-space: nowrap;
                    
                }
                a:hover{
                    text-shadow:0 0 1px black;
                    text-decoration: none;
                }
                
            }
        }
    }
}
#bz-menu .level_1 > li:hover{
    .level_2{
        margin-top: 0;
        opacity: 1;
        pointer-events: all;
    }
}
#bz-menu .level_1 > li:first-child > a{font-weight:bold}
#bz-menu .level_1 > li > a{
    font-size:var(--menu_lv1);
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 1px;
}

#bz-logo img{
    height:26px;
}

#bz-functions{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    
    a,
    button{display: flex;}
}

#bz-functions button img,
#bz-functions .header__buttons{display: flex;align-items: center;}
#bz-functions button img,
#bz-functions a.btn img{
    height:24px;
}

#bz-functions .header__search{
    width:300px;
    display:flex;
    align-items:center;
}
#bz-functions .header__search .header__search-input{
    font-size:13px;
    background:transparent;
    border-bottom:1px solid #000;
    height:auto;
    border-radius:0;
    padding:.5rem 0;
}
#bz-functions .header__search .header__search-btn{
    position:relative;
    top:auto;
    bottom:auto;
    right:auto;
    left:auto;
    margin:0;
}

.align-items-center{align-items: center;}
.justify-content-between{justify-content: space-between;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: end;}
.gap-30{gap:30px}

#bz-functions #cart-count{
    border-radius: 100%;
    font-size: 10px;
    font-weight: 300;
    right: 3px;
    top: 3px;
    width: 15px;
}

.top-bar{background:#000;}
.top-bar *{
    font-size:13px;
    line-height:50px;
    padding:0;
    margin:0;
}

#bz-footer{}
#bz-footer h4{
    font-weight:bold;
    font-size:20px;
    letter-spacing:0.1em;
    text-transform:uppercase;
    color:#000;
    margin-bottom: 2rem;
}
#bz-footer .links{
    margin:0;
    padding:0%;
    list-style: none;
    gap:20px;
    display: flex;
    flex-direction: column;
}
#bz-footer .links a{
    font-size:16px;
    font-family: 'Source Sans Pro';
    text-decoration: none;
}

#bz-footer .footer_credits{
    border-top:1px solid #f2f2f2
}

#bz-footer .footer_credits span{
    font-size:12px;
}

.apx_banner-slider{
    max-width:100%;
    height:auto!important;
    --banner-aspect-ratio:1!important;
    --banner-aspect-ratio-mobile:1!important;
}

.apx_banner{position:relative}
.apx_banner .apx_banner-content h3{
    font-size:var(--bn_title);
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.apx_banner .apx_banner-content p{
    font-size:var(--bn_description);
    line-height:calc(var(--bn_description) * 2)!important;
    font-family: 'Source Sans Pro';
    line-height:initial;
    margin:1rem 0 0 0;
    max-width:80%;
    display: block;
}
.apx_banner .apx_banner-content a{
    line-height:56px;
    padding:0 2rem;
    display:inline-block;
    width:fit-content;
    text-transform:uppercase;
    letter-spacing: 0.1em;
    font-weight:700;
    margin-top:2rem;

}
.apx_banner .apx_banner-content{margin:var(--banner_spacer) 0}
.apx_banner .apx_banner-content.inside_image{
    position:absolute;
    margin:0;
}
.apx_banner .apx_banner-content.inside_image.top_left{
    top:var(--banner_spacer);
    left:var(--banner_spacer);
    bottom:auto;
    right:auto;
}
.apx_banner .apx_banner-content.inside_image.top_middle,
.apx_banner .apx_banner-content.inside_image.center_middle,
.apx_banner .apx_banner-content.inside_image.bottom_middle{text-align: center;}
.apx_banner .apx_banner-content.inside_image.top_middle{
    top:var(--banner_spacer);
    left:auto;
    right:auto;
    bottom:auto;
    margin:0 auto;
}
.apx_banner .apx_banner-content.inside_image.top_right,
.apx_banner .apx_banner-content.inside_image.center_right,
.apx_banner .apx_banner-content.inside_image.bottom_right{text-align: right;}
.apx_banner .apx_banner-content.inside_image.top_right{
    top:var(--banner_spacer);
    right:var(--banner_spacer);
    bottom:auto;
    left:auto;
}

.apx_banner .apx_banner-content.inside_image.center_left{
    top:50%;
    left:var(--banner_spacer);
    bottom:auto;
    left:auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.inside_image.center_middle{
    top:50%;
    left:auto;
    right:auto;
    bottom:auto;
    margin:0 auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.inside_image.center_right{
    top:50%;
    right:var(--banner_spacer);
    bottom:auto;
    left:auto;
    translate:0 -50%;
}
.apx_banner .apx_banner-content.center_center{
    top:50%;
    left:50%;
    translate:-50% -50%;
}
.apx_banner .apx_banner-content.inside_image.bottom_left{
    top:auto;
    left:var(--banner_spacer);
    bottom:var(--banner_spacer);
    left:auto;
}
.apx_banner .apx_banner-content.inside_image.bottom_middle{
    top:auto;
    left:auto;
    right:auto;
    bottom:var(--banner_spacer);
    margin:0 auto;
}
.apx_banner .apx_banner-content.inside_image.bottom_right{
    top:auto;
    right:var(--banner_spacer);
    bottom:var(--banner_spacer);
    left:auto;
}
.apx_banner .apx_banner-content.center_center *{margin-left:auto;margin-right:auto}
.apx_banner .apx_banner-content.top_left *,
.apx_banner .apx_banner-content.center_left *,
.apx_banner .apx_banner-content.bottom_left *{text-align:left}
.apx_banner .apx_banner-content.top_center *,

.apx_banner .apx_banner-content.center_center,
.apx_banner .apx_banner-content.bottom_center *{text-align:center;justify-content:center}
.apx_banner .apx_banner-content.top_right *,
.apx_banner .apx_banner-content.center_right *,
.apx_banner .apx_banner-content.bottom_right *{text-align:right}

.text-center{text-align:center}
.text-uppercase{text-transform: uppercase;}
.text-bold{font-weight:bold}

.product-card__pictures{margin-bottom:.5rem}
.product-card__pictures,
.product-card__pictures picture,
.product-card__pictures picture img{
    height: auto;
    max-height: unset;
    width: 100%;
    object-fit: cover;
    aspect-ratio: .7;
}
.product-card,
.product-card:hover{
    box-shadow: unset;
    border: 0;
    padding: 0;
}
.product-card a,
.product-card a:hover{
    font-size:14px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-card__buy{display:none}
.product-card__prices .prices__value{font-size: 14px;}

.product-card{
    .prices__installments{display: none;}
}
.apx_section-title{
    h2{
        font-size:var(--section_title);
        letter-spacing:0.1em;
        color:#000;
    }
    small{
        font-size: var(--section_subtitle);
        font-weight: 300;
        letter-spacing: 0.1em;
        margin: 0 auto 8px auto;
        display: block;
    }
}

.apx_faq{
    .list{
        display:flex;
        flex-direction: column;
    }
    .apx_faq-item{
        .hat{
            .a_text{
                font-family: "Source Sans Pro";
                letter-spacing: 0.05em;
            }
            button{
                border:0;
                padding:0;
                background:transparent;
                svg{
                    transition: all .5s;
                }
            }
            border: 1px solid #F8F8F8;
        }
        .content{
            font-family: "Source Sans Pro";   
            letter-spacing: 0.05em;         
            height:0;
            max-height:0;
            overflow: hidden;
            transition: padding .5s, max-height .5s;
            background:#f8f8f8;
            padding: 0rem;
            margin-top: -.5rem;
            box-sizing: border-box;
        }
    }
    .apx_faq-item.visible{
        .hat{
            button{
                border:0;
                padding:0;
                background:transparent;
                svg{
                    transform: rotate(315deg);
                }
            }            
        }
        .content{
            transition: padding .5s, max-height .5s;
            max-height:180px;
            overflow-y: auto;
            height:auto;
            padding: 2rem;
        }
    }
}

.apx_newsletter{
    background:#000;
    .apx_section-title{
        small{
            color:#fff;
            font-size: 12px;
            text-transform: initial;
            width: 580px;
            max-width: 100%;
            letter-spacing: 0.1em;
            display: block;
            margin: 0 auto;
        }
        h2{
            color:#fff;
            font-size:20px;
            font-weight: 700;
        }
    }
    form{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    input{
        border: 0;
        border-bottom: 1px solid #fff;
        color:#fff;
        height: 42px;
        background: transparent;
        width: 400px;

    }
    input::placeholder{
        color: rgba(255, 255, 255, 0.5);
        font-weight: 300;
        letter-spacing: .1em;        
    }
    button{
        font-weight:700;
        text-transform: uppercase;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        letter-spacing: .1em;
        line-height: 42px;
        padding: 0 2rem;
    }
}

.product-card{
    .product-card__prices{
        position: absolute;
        bottom: 8px;
        right: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .product-card__name{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top:0;
        --max-lines:1
    }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1320px;
    }
}
.container_90{
    width:100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

// .apx_product-list{
    .glide__bullets{
        bottom: -1rem;
        .glide__bullet{
            width: 30px;
            height: 6px;
            padding: 0;
            background: #f2f2f2;
            border-radius: 0;
            border: 0;
            opacity: 1;
            margin: 0 2.5px;
        }
        .glide__bullet--active{
            background: #000;
        }
    }
    .slick-slider{
        .apx_arrow{
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            z-index: 2;
            border: 0;
            padding: 0%;
            background: transparent;
        }
        .prev{left: -20px;}
        .next{right: -20px;}
    }
    .slick-dots{
        display: flex;
        gap: 5px;
        justify-content: center;
        li{
            width: auto;
            display: block;
            margin: 0;
            button{
                font-size: 0;
                background: #f2f2f2;
                height: 6px;
                width: 30px;
                padding: 0;
                
            }
            button:before{
                display:none
            }

        }
        li.slick-active{
            button{
                background: #000;
            }
        }
    }
// }
.apx_fastBuyContainer{position: relative;overflow: hidden;}
.product-card:hover .apx_fastBuy{
    bottom: 0;
}
.product-card__pictures{margin: 0;}
.apx_fastBuyContainer{margin-bottom: 1rem;}
.apx_fastBuy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
    position: absolute;
    bottom: -125px;
    left: 0;
    width: 100%;
    background: #fff;
    transition: bottom .3s;
    padding: 1rem;
    box-shadow: 0px -3px 5px rgb(0 0 0 / 10%);
    .apx_fastBuy-title{font-size: 12px;}
    .apx_fastBuy-options{
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    button{
        border: 0;
        padding: 0;
        background: transparent;
        font-size: 12px;
        
    }
    button.active{
        font-weight: bold;
    }
    button.disabled{
        opacity: .3;
    }
}

html:not(.isMobile) .bz_gallery{
    display:flex;
    flex-wrap: wrap;
    gap: 6px;
    .bz_gallery-item{
        flex:0 0 calc(50% - 3px);
        .product__picture{max-width: 100%!important;}
        picture{
            height: 100%!important;
            width: 100%;
            cursor: unset;
            display: block;

            img{
                min-width: 100%;
                height: auto;
                min-height:100%;
                object-fit: cover;
            }
        }
    }
}
@media(min-width:990px){
    .bz_product-info-sticky{
        position: sticky;
        top: 3rem;
    }
}

#product{
    .bz_breadcrumb{
        padding: 0!important;
        margin: 0!important;
        ol{
            padding: 0!important;
            margin: 0 0 1rem 0!important;
        }
        *{
            font-size: 16px;
            text-transform: uppercase;
            font-family: 'Source Sans Pro';
            letter-spacing: 0.1em;
        }
    }
    
    .breadcrumb-item:not(:first-child):before{
        content: ">";
    }

    .product__name{
        font-size:var(--section_title);
        font-weight:700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .variations__grid{
        .variations__grid-title{
            font-size: var(--body);
            letter-spacing: 0.1em;
            font-weight: 700;
            text-transform: uppercase;
        }

        .variations__option{
            border: 1px solid #f2f2f2;
            height: 40px;
            min-width: 40px;
            padding: .5rem;
            font-size: var(--body);
            font-weight: 400;
            background: #fff;
            border-radius: 0;
            outline: none;
            box-shadow: unset;

        }
        .variations__option--selected{
            font-weight: 600;
            color: #fff;
            background: #000;
        }
    }

    .product__buy{
        display:flex;
        gap: 1rem;
        .apx_quantity_selector{
            border: 1px solid #f2f2f2;
            display: flex;
            align-items: center;
            padding: 0;
            max-width: 150px;
            button{
                background: transparent;
                border: 0;
                height: 58px;
                padding: 0 1rem;
            }
            input{
                font-size: 18px;
                font-weight: bold;
                border: 0;
                text-align: center;
                width: 50px;
                outline: none;
            }
        }

        .btn-lg{
             font-size: 18px;
             letter-spacing: 0.1em;
             font-weight: 700;
             text-transform: uppercase;
             line-height: 60px;
             border-radius: 0;
             padding: 0 1rem;
             width: 100%;

        }
    }

    .shipping-calculator{
        
        [for="shipping-calculator-zip"]{
            white-space: nowrap;
            font-size: var(--body);
            letter-spacing: 0.1em;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
        }
        .form-group{
            display: flex;
            align-items: center;
            gap: 2rem;
            margin: 0;
            background: #f8f8f8;
        padding: 1rem;
        }
        input{border-radius: 0;max-width: unset;border: 1px solid #f2f2f2;}
        button{
            border-radius: 0;
            background: #000;
            color: #fff;
            border: 0;
        }
    }
    .product__prices{
        margin: 2.5rem 0;
        letter-spacing: 0.1em;
        .prices--big{
            strong{
                font-size: 25px;
                
            }
        }
        .prices__installments{
            margin-top: 1rem;
            font-size: 16px;
            font-weight: normal;
            small{font-weight: normal;}
            span{font-weight: normal;}
        }
    }
}
.w-100{width: 100%;}

#apx_seals,
#apx_props{
    list-style-type: none;
    display: flex;
    gap: 5px;
    font-size: 12px;
    padding: 0;
    justify-content: flex-start;
}
#apx_seals li{
    display: flex;
    gap: 5px;
    padding: 5px 8px;
    align-items: center;
    letter-spacing: 0.1em;
}

#apx_props{justify-content: space-between;gap: 1rem;margin-top: 1rem;}
#apx_props li{
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: initial;
    font-size: 12px;
    text-transform: uppercase;
    flex: 1 1 25%;
    font-family: 'Source Sans Pro';
}

.card-header{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 24px;
    background: transparent;
}

.cart-item__data{
    .cart-item__name a{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }
    .cart-item__thumb{width: 70px;}
    .cart-item__prices{
        font-weight: bold;
        font-size: 14px;
    }
}
.minicart__empty a{
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 14px;
    padding: .5rem;
    i{display: none;}

}
.minicart{
    .card-footer{
        background: transparent;
        .prices--literal{
            .prices__value{line-height: 36px;}
            .prices__installments{
                font-size: 12px;
            }
        }
        a{
            border-radius: 0;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: .1em;
            font-size: 14px;
            padding: .5rem;

            i{display: none;}
        }
        .btn-outline-secondary{
            font-weight: normal;
            font-size: 12px;
        }
    }
}


/* width */
::-webkit-scrollbar {
width: 10px;
border-left:1px solid #888;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border:3px solid #f1f1f1;
border-radius: var(--borderRadius)!important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#page-categories .hero-banner{margin:0!important}

// .page-title{
//     margin:3rem auto 0 auto!important;
// }
.page-title__head{
    margin: 0;
    h1{
        font-size:var(--section_title);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1em;
        text-align: center;
        display: block;
        width: 100%;
    }
}
.category-description{
    margin:0!important;
    .html-clearfix{margin-top:1rem;margin-bottom:0!important;}
    *{
        font-size:20px;
        text-align:center;
        font-family: 'Source Sans Pro';
    }
}

.category-retail .retail-grid{margin-top:1rem!important}


.bz-menu-header{
    border-bottom: 1px solid #f2f2f2;
    margin: 0 -1rem .5rem -1rem;
    padding: 1rem 1.2rem;
    button{
        border: 0;
        background: unset;
        padding: 0;
    }
}
#bz-mobile-functions{
    div{
        align-items: center;
        button{
            margin-right: var(--spacer-1);
            padding: var(--spacer-2);
            display: flex;
            align-items: center;
            border: 0;
            background: transparent;
            svg,
            img{
                max-height:24px;
                max-width: 24px;
            }
        }
    }
}
@media(max-width:990px){
    #header{padding: 4px 0;}
    #bz-logo img{height: 21px;margin-top: -4px;}
    #bz-menu.active{
        right: 0;
        opacity: 1;
        box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);        
    }
    #bz-menu{
        transition: right .5s, opacity .5s;
        position: fixed;
        z-index: 2;
        background: #fff;
        width: 100vw;
        top: 0;
        right: 100%;
        opacity: 0;
        height: auto;
        max-height: 90vh;
        .level_1{
            flex-direction: column;
            gap: 2rem;
            max-height: calc(90vh - 70px);
            overflow-x: visible;
            overflow-y: scroll;
            padding: 1rem 1rem 2rem 2rem;
            margin: 0 -1rem;
            li{
                padding:0;
                margin: 0;
                a{
                    font-size:16px;
                   
                }
            }
            .dropdown{
                .level_2{
                    position: relative;
                    box-shadow: unset;
                    background: #f8f8f8;
                    margin: 1.5rem -1rem -.5rem -2rem!important;
                    width: 100vw!important;
                    max-width: 100vw!important;
                    padding: 1rem 2rem;
                    display:none;
                }
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                button{
                    width: 24px;
                    height: 24px;
                    svg{width: 10px;height: auto;transition: all .5s;}
                }
                .level_2{
                    width: 100%;
                }
                .bz_dropbanner{display: none;}
            }
            .dropdown.open{
                .level_2{
                    display:block
                }
                button{
                    svg{
                        transform: rotate(270deg);
                    }
                }
            }
        }
    }
    .top-bar *{
        line-height: 34px;
        font-size: 12px;
    }

    :root{
        --menu_lv1: 13px;
        --menu_lv2: 12px;
        --bn_btn-text: 16px;
        --bn_title: 26px;
        --bn_description: 16px;
        --section_title:25px;
        --section_subtitle:12.8px;
        --body:16px;
    }
    .apx_banner .apx_banner-content{max-width:80%}
    .apx_banner .apx_banner-content *{max-width:100%!important;}
    .apx_banner .apx_banner-content p{margin-top: .5rem;}
    .apx_banner .apx_banner-content a{margin-top: 1rem;}

    .apx_banner .apx_banner-content a{
        line-height: initial;
        padding: .8rem 1.5rem;
        font-size: 14px;
    }

    .container_90{max-width: 100%;}
    .apx_fastBuyContainer{margin-bottom: .5rem;}
    .product-card__prices .prices__value{font-size:12px}
    .product-card .product-card__name{padding:0 .5rem!important;font-size:12px;}
    .product-card .product-card__prices{
        position: relative;
        padding:0 0.5rem;
        bottom: auto;
    }

    .apx_product-list[data-carrossel_arrows_sm="Sim"]{
        padding:0 2rem!important
    }
    .apx_fastBuy{display:none}
    .apx_faq .apx_faq-item.visible .content{padding:1rem}
    .apx_faq .list{margin:0 -1rem}

    .banners-grid .apx_banner .apx_banner-content{max-width:100%}
    .apx_newsletter form{flex-direction: column;}
    .apx_newsletter form *{
        width: 100%;
    }
    #bz-footer h4{margin-bottom: 1rem;}
    #bz-footer .links{margin-bottom: 3rem;}
    #bz-footer .links{gap: 1rem;}

    .footer_credits  > div > div{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 1rem 0 0 0;
    }
    .slick-dots li button{height:3px}
    .slick-dots li{margin: 0 2.5px;}

    .glide__bullets{
        .glide__bullet{
            height: 3px;
        }
    }

    .isMobile #product .__prices .product__prices{
        margin: .5rem 0 1rem 0;
    }
    #product .product__prices .prices--big strong{font-size: 20px;}
    #product .product__prices .prices__installments{font-size: 12.8px;line-height: initial;margin-top: 0;}
    #apx_seals{font-size: 11px;}
    #apx_props,
    #apx_props li{font-size: 14px;}
    #apx_props{
        flex-wrap: wrap;
    }
     #apx_props li{flex: 0 0 calc(50% - 1rem);}

    #product .product__buy .apx_quantity_selector{display: none;}

    .bz_gallery{
        margin-left: -1rem;
        margin-right: -1rem;
        .bz_gallery-item{
            picture{
                padding: 0 2.5px;
                height: 100%!important;
                position: relative;

                img{
                    height: 100%!important;
                    position: relative;
                }
            }
        }
    }

    #product .bz_breadcrumb *,
    .bz_breadcrumb *{font-size: 12.8px;}
    
    #product .product__name{font-size: 16.8px;}
    #product .shipping-calculator [for=shipping-calculator-zip]{
        font-size: 12.8px;
        width: 100px;
        white-space: normal;
    }
    .category-description *{
        font-size:14.8px
    }

    .apx_faq .apx_faq-item .hat{gap: 10px;}
    .apx_faq .apx_faq-item .hat .a_text{font-size: 12.8px;}
}

.hero-banner{min-height: unset;}

.product-item .prices__discount,
.product-item .prices__discount .prices__discount-label{display:none}



/* CHECKOUT */
.app .checkout__info{
    background: transparent;
    border: 0;
}
.app .checkout__summary,
#cart .cart__info{
    padding: 2rem;
    margin: 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
    height: auto;
    // position: sticky;
    top: 15px;
    background:transparent
}
.checkout__summary .summary__title,
.checkout__app .summary__buyer h5,
#cart .cart__info [for="shipping-calculator-zip"]{
    font-weight:600;
}
.checkout__app .summary__buyer p,
.checkout__app .summary__buyer p *{font-size:12px}
.checkout__app .summary__buyer p small{font-weight:600;}
.checkout__summary .summary__list .summary__item > div{font-size:11px;}
.checkout__summary .summary__list .summary__item > div > a{margin-top:5px;display:block;}
.checkout__summary .summary__list .summary__item > div > a,
.checkout__summary .summary__list .summary__item > div > a > small{font-size:12px;font-weight:600;}
.checkout__summary .summary__list .summary__item > div > .badge{font-size:11px;background:transparent;color:var(--body-color);padding:0;font-weight:normal;margin-right:10px;}
.checkout__summary .summary__list .summary__item > div > .badge:after{content:"x";}
.checkout__summary .summary__amount > .summary__amount__row{
    font-size: 14px;
    border-bottom: 1px solid #ececec;
    padding: 5px 0 10px 0;
}
#checkout .checkout .form-control{
    border: .1rem solid #e1e1e1;
    padding: 1.2rem;
    border-radius: .3rem;
    font-size: .8rem;
}
#checkout .checkout .form-control + .input-group-append{
    border-radius: 0 .3rem .3rem 0;
}
#checkout .checkout .form-row > .form-group{
    width: 100%;
    min-width: 100%;
}
#checkout .checkout .form-group label{
    font-size: .8rem;
    font-weight: 500;
}
#checkout .checkout .input-group .btn{
    line-height: normal;
    font-size: .8rem;
    border-radius: .3rem;
    margin-left:1rem;
}
#spa #storefront-app h1:before{display:none;}
#spa #storefront-app h1{}

#checkout .checkout .login{max-width:100%; width:550px;}

#checkout .checkout .login .h4,
#checkout .checkout .checkout__account > p.lead{
    font-size: 1rem;
    margin-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead{
    border-bottom: 2px solid var(--body-color);
    padding-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead + form{
    padding:1rem;    
}
#checkout .checkout .login__confirm{
    background: #f8f9fa;
    margin: 2rem 0rem!important;
    padding: 2rem;
    max-width: unset;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
}
#checkout .checkout .login__confirm .lead{font-size:.8rem;margin-bottom:1rem;}
#checkout .checkout .login__oauth{margin-top:3rem;}
#checkout .checkout .login__oauth .lead{font-size:1rem;}
#checkout .checkout .login__info{display:none;}
.app__footer{display:none}
.app__header{
    background: transparent;
    box-shadow: unset;
}
.app footer,
.app__credits{background:transparent}
.app__credits *{
    color:var(--body-color);
    font-size:12px;
}
.app__header{
    border-bottom: solid .1rem #e1e1e1;
}
.app footer{
    border-top: solid .1rem #e1e1e1;
}
.app .ecom-credits a{font-size:0;}

.app .checkout__back > a,
.checkout__app .summary__buyer button,
.checkout__account button,
.checkout .account-addresses button[type="submit"],
.checkout .checkout__btn-proceed,
.checkout .account-addresses__card + .btn-outline-secondary,
.discount-applier .discount-applier__coupon-btn,
.checkout .payment .payment__method > form > button.btn-success,
.checkout .payment .payment__method > button,
.cart__info > .btn{
    width: 100%;
    text-align: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
    line-height: 2rem;
}
.checkout .checkout__btn-proceed{margin-top:1rem;}
.checkout .checkout__btn-proceed i,
.checkout .account-addresses button[type="submit"] i{display:none}
.app__header .app__contact,
.app__header .app__safe{font-size:12px;}

.checkout__app .checkout__steps{
    max-width: 80%;
    margin: 0 auto 2rem auto;
}
.checkout__app .checkout__steps .checkout__step{
    border-bottom:3px solid var(--body-color);
    text-transform:initial;
    padding:1rem;
    font-weight:600;
    position:relative;
}
.checkout__app .checkout__steps .checkout__step .fa-arrow-left{display:none}
.checkout__app .checkout__steps .checkout__step:before{
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    background: var(--body-color);
    border-radius: 50%;
    left: calc(50% - 8px);
    bottom: -9px;
}
.checkout__app .checkout__steps .checkout__step *{color:var(--body-color);opacity:1;}
.checkout__app .checkout__steps .checkout__step small{display:none}
.checkout__app .checkout__steps .checkout__step--past,
.checkout__app .checkout__steps .checkout__step--current{color:var(--body-color)}
.checkout__app .checkout__steps .checkout__step--disabled:before{background: #e1e1e1;}
.checkout__app .checkout__steps .checkout__step--disabled{border-color:#e1e1e1}

.checkout .payment .list-group > a{
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
}
.checkout .payment .list-group > a .payment__head{
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .3rem .3rem 0 0;
}
.checkout .payment .list-group > a:hover .payment__head{
    background: var(--body-color);
    color: var(--body-bg);
}

.checkout .payment .payment__method{
    border: 0;
    border-radius: .3rem;
    background:#f9f9f9
}

.list-group-item.active{
    color: var(--body-color);
    background-color: #f9f9f9;
    border:0;
}

.cart .cart__list{}
.cart .cart__list .cart-item:first-child{border-top:0}
.cart .cart__list .cart-item{
    border-bottom:1px solid #e1e1e1;
    padding:1rem 0;
    margin:0;
}
.cart .cart__list .cart-item__name,
.cart .cart__list .cart-item__name a{
    font-size:1rem;
    font-weight:600;
    text-decoration:none;
}
.cart .cart__list .cart-item__quantity{}
.cart .cart__list .cart-item__prices{font-weight:600}
.cart .cart__list .cart-item__prices .cart-item__price-un{}

.app__header{
    background: #fff;
    padding: 2rem 0;
    border-bottom: 1px solid #f2f2f2;
}
.app__contact,
.app__contact span:not(:first-child),
.app__header .app__contact, .app__header .app__safe,
.app__safe-icon{color:#000;}
.app__contact span:not(:last-child){margin-right:5px;}

.app__header .app__contact, .app__header .app__safe {
    font-size: 14px;
    line-height: 32px;
}
.app__logo{max-height:40px;margin-top:-8px}
body #storefront-app>div>h1{
    font-weight: bold;
    margin: 3rem 0 1.5rem 0;
}
@media(min-width:990px){

    body .cart-item__container{align-items:flex-start}
    body .cart-item__thumb{width:70px}
    body .cart .cart-item{border-top:0!important}
}

.checkout__steps .i-arrow-left{display:none}
.checkout__steps .i-shopping-cart:before{
    content: "Carrinho";
    font-family: 'Montserrat';
    font-weight: 600;
}

.has_mask{
    background-color:var(--mask_color);
    opacity:calc(var(--mask_opacity) / 10);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.page-products .product__payment {display:none}

@media(min-width:990px){
    .product--side{flex:0 0 600px;min-width:600px;}
    #fmais-loyalty__bottom__open__btn{bottom:15%!important;top:auto;}
}

.product--side .shipping-calculator{
    .shipping-calculator__services{
        width:100%;
        max-width:unset;
        max-height: 200px;
        overflow-y: scroll;
        border-bottom:1px solid #dfdfdf;
        span{
            
            .list-group{
                width:100%;
                .list-group-item{
                    font-size:12px;
                    .shipping-calculator__option{
                        .shipping-line{
                            strong{

                            }
                            span{}
                        }
                        small{}
                    }
                }
            }
        }
    }
}

#product-actions .prices__value + span *,
#bz_product_mobile .prices__value + span *{
    font-size: 90%;
    letter-spacing: 0;
}